// font stuff
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

// colour stuff
$white: #ffffff;
$lightBG: #f1f1f1;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;

$darkGrey: #4f585e;


.cards__container {
 /*  background: $lightBG; */
  margin: 0.7em 5em;
  max-width: 1200px;
  text-align: center;
  text-rendering: optimizeLegibility;   

.card__ {
  background: $white;
  display: inline-block; 
  margin: 2em;
  max-width: 20em;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 20em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 5px;

  &:hover{
    opacity: 1;
    transform: scale(1.1);
  }

  .card__head{
    background: $white;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0.45em 0.7em 0.45em 0.8em; //top, right, bottom, left
   
    img{
     width: 30px;
     height: 30px;
    }

    .head__right{
      cursor: pointer;
      font-size: large;
    }

  }  
 
  .card__image {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
    cursor: pointer;
    
    img {
      width: 100%;
      height: 15em;
    }

  }

  .card__title {
    background: $white;
    padding: 0 0 0.45em 1em; //top, right, bottom, left
    position: relative;
    border-radius: 0 0 5px 5px;

    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
    }
    
    .toggle__info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: $white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      .leftLine {
        right: 14px;
        transform: rotate(45deg);
      }
      .rightLine {
        left: 14px;
        transform: rotate(-45deg);
      }
     
    }

    .icons{
    letter-spacing: 0.2rem;
    font-size: small;
    color: $darkGrey
    }

    /* 
    .likes::before {
      font: var(--fa-font-solid);
      content: "\f004";
      color: red;
      font-size: medium;
      cursor: pointer
    }

    .favs::before {
      font: var(--fa-font-solid);
      padding-left: 5rem;
      content: '\f005';
      color: orange;
      font-size: medium;
      cursor: pointer
    } */
  }
  
  .card__flap {
    background: darken($white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    /* transition: all 0.3s 0.3s ease-out; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius:  0 0 5px 5px;

    .card__description {
      padding: 0 15px 0px;
      position: relative;
      font-size: 14px;
    }
  
    .card__actions {
      box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
      padding: 8px 15px 20px;
      text-align: center;
    }
  }
}

.card__btn {
  background: $teal;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: $white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
  cursor: pointer;

  &:hover {
    background: lighten($teal,2.5);
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
  }
  
  &:active {
    background: darken($teal,2.5);
    box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
    transform: translatnede3d(0,1px,0);
    transition: all 0.025s 0s ease-out;
  }
}

.opened{
  z-index: 1;
  opacity: 1 !important;
  transform: scale(1.1) !important;
  
  .card__title {
    border-radius: 0;

    .toggle__info {
      background: $salmon !important;
      span {
        top: 15px;
      }
      .leftLine {
        right: 10px;
      }
      .rightLine {
        left: 10px;
      }
    }
  }

  .card__flap {
    background: $white;
    transform: rotateX(0deg);
    transition: all 0.3s 0s ease-out;
    visibility: visible;
  }

} 

 &:hover .card__:not(:hover){
  opacity: 0.5;
  transform: scale(0.92);
  }
}

@media only screen and (max-width: 600px) {

  #cards__container {
    margin: 1em;
    /* -webkit-margin: 1em; */

  .card__ {
    max-width: 20em;
    width: 20em;
    margin: 1em 0.5em 0.25em;
    /* -webkit-margin: 1em 0.5em 0.25em; */
 } 
}

}