.imgRecipe{
    padding-top:24px;
    padding-bottom: 8px;
    width: 75%;
    height: 25%
}

.blocks{
    display: flex;
    justify-content: center;

    .h-block{
        width: 49%;
        padding: 30px;
      }
}




@media only screen and (max-width: 600px) {

    .imgRecipe{
        padding-top: 25px;
        padding-bottom: 4px;
        width: 90%;
        height: 30%
    }

    .blocks{
        flex-direction: column;
        .h-block{
            width: 100%;
            padding: 3px;
        }

    }
}



