.modal_content{
    padding: 18px 25px;
    border-radius: 13;


    .titles{
        font-weight: 600;
    }

    .hr-1{
        margin-top: 15px;
        margin-bottom: 5px;
        border-top: 0.5px solid lightgrey
    }

    .hr-2{
        margin-top: 0;
        margin-bottom: 20px;
        border-top: 0.5px solid lightgrey
    }
  

.modal_head{
    text-align: left;

    .close{
        border-radius: 0 7px 0 0;
        padding: 19.5px
    }
} 

.modal_body{
    display: flex;
    flex-wrap: wrap;

    .social_div{
        margin: 23px;

        p{
        color: #3b3b3b;
        }
    }
}

 .modal_footer{

    text-align: left;

    .message{
        font-size: 11px;
    }

    .url_copy {
        padding-top: 15px;
        padding-bottom: 5px; 
        
        .url_input {
            border: none;
            background-color: #e6e2e2;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 15px;
            width: 95%;
            height: 40px;
            color: #3b3b3b;
        }

        .copy_url {
            border: none;
            background-color: #e6e2e2;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
            padding-top: 12.5px;
            padding-bottom: 12.5px;
            padding-right: 15px;
            width: 5%;
        }
}

}

} 
